

.body {
    background: linear-gradient(to bottom, #16222a, #3a6073);
    width: 200%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.map {
    display: flex;
    align-items: center; 
}

.firstmap {
    max-width: 50%;
    height: auto;
}
