
body {
    overflow: hidden;   
    margin: 0; 
    height: 100vh;   
  align-items: center;  
    display: flex;
    justify-content: center;   
}

.rockcontainer {
    position: relative;    
    text-align: center;   
    display: flex;  
    flex-direction: column;    
    align-items: center;  
  
}

.rock {
    position: absolute;   
    width: 100px;
    height: auto;    
 
}
.rockcontainer {
    position: relative;    
    display: flex;    
    flex-direction: column;  
    align-items: center;  
  
}

.counter {
  text-align: center;  
  margin-bottom: 30px;
}
